*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#doc{
    width: 100px;
}
.header {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   margin-bottom: 10px;
  
}
.header h2{
    width: 300px;
    
}
.storageFile{
    color: #fff;
    min-height: 40vh;
    margin-top: 20px;
    padding-bottom: 40px;
    font-size: 25px;
    /* display: grid;
  grid-template-columns:  40% 40% 40%;
 grid-template-rows: 100px 100px; */
 border: 1px solid #ccc;
}
.submit{
    font-size: 14px;
    width: 70px;
    height: 30px;
    color: #fff;
   cursor: pointer;
    background-color: #0096c7;
    border-radius: 5px;
    border: 1px solid #000;
    
}
.submit:hover{

    color: black;
}
.open{
    font-size: 15px;
    width: 70px;
    height: 30px;
    color: #0096c7;
    border-radius: 5px;
    position: absolute;
    top:20%;
    left: 2%;
}
.open:hover{
   color: #000;
}
.file{
    display: flex;
    align-items: center;
   text-decoration: none;
    height: 40px;
   cursor: pointer;
   color: #000;
  position: relative;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 3%;
}
.file #xoa{
  position: absolute;
  right: 5%;
}
.file #date{
  position: absolute;
  right: 15%;
  font-size: 16px;
}
.down{
  left: 85%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
}
 #down{
  color: #0096c7;
  top: 10%;
  cursor: pointer;
  margin-right  : 20%;
}
#down:hover{
  color: black;
}
.file span{
    font-size: 20px;
    padding-left:10px;
    /* width: 30px; */
}
.file i{
    color: green;
    font-size: 40px;
}
.file a :hover, .file>i:hover{
    color: #00b4d8  ;
}
.title{
   
   display: flex;
    font-size: 25px;
}
.title i{
    cursor: pointer;
}
/* #saving{
    margin-top:30px;
    border: 1px solid;
  
     box-shadow: 5px 10px 18px #888888;
} */
#myPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
  }
  #changedPopup{
    position: fixed;
    height: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
  }
  #changedPopup button{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    
  }
  #saving{
    position: relative;
    background-color: #edf2f4;
    color: #000;
    width: 50vw;
    padding: 20px 20px 70px 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   
  }
  .searchFile{
    position: absolute;
    right:10%;
  }
  #setFile {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #myPopup input{
    border: 1px solid #ccc;
    height: 25px;
  }
  #backButton{
    position: absolute;
    bottom:110px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   transform: translate(100px,100px);
  }
  .file .trash:hover{
    color:rgba(0, 0, 0, 0.5);
  }
  #cke_1_bottom{
    display:none;
  }
  #inside{
    
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 70%;
    box-shadow: 5px 12px 12px #14213d7a;
  }
  body{
    background-color: #84a98c;
  
  }
  #cke_content{
    
     /* box-shadow:5px 10px 12px #14213d; */
     background-color: #e5e5e5;
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
     overflow: hidden;
  }
  #cke_1_top{
   

    background-color: #fff;
  }
  #addition{
    position :relative;
    background-color: #fff;
    height:50px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  #addFile{
    display: inline-block;
    background-color: #40916c;
    width: 25%;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 7px 0px 7px 7px;
    cursor: pointer;
    margin-top: 20px;
  }
  #addFile i{
    font-size: 20px;
    color: #fff;
  }
  #addFile span{
    font-size: 18px;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
  }
.fileName{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}
#fade{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
   top:0px;
   left:0px;
  
    display: none;
} 