*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f1faee;
    margin: 0 50px 40px 50px;
}
#doc{
    width: 100px;
}
.header {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   margin-bottom: 20px;
  
}
.header h2{
    width: 300px;
    
}
.storageFile{
    background-color: #457b9d;
    min-height: 50px;
    width: 200px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit{
    font-size: 15px;
    width: 100px;
    height: 40px;
    color: #fff;
    margin-top:10px;
    background-color: #457b9d;
}

/* #cke_1_contents{
    display: none;
} */