<div id="inside">
        <!-- <div class="header">
        <img id="doc" src="asset/img/google_doc.png" alt="" class="doc" >
        <h2>WRITTER APP</h2>
    </div> -->

        <div id="addition">
            <a class="open" href="menu.html"><i class="fa fa-arrow-left" aria-hidden="true"
                    style="font-size: 25px;"></i></a>
            <div class="fileName">
                <h2>New File</h2>
            </div>
            <div class="down" >
                <i id="down" class="fa fa-download" aria-hidden="true" style="font-size:30px;"></i>
                <button class="submit">SAVE</button>
            </div>
            
        </div>
        <textarea id="editor" name="editor"></textarea>
        <script>
		// Initialize the CKEditor instance
		ClassicEditor
			.create( document.querySelector( '#editor' ) )
			.catch( error => {
				console.error( error );
			} );
	    </script>

        <SCript>
            CKEDITOR.replace("content");

        </SCript>

    </div>
    <div id="fade"></div>
    <div id="myPopup">
        <h2>Set name for file</h2>
        <input class="inputVal" type="text" placeholder="Type your file name ..." style="padding-left: 10px;height: 30px;">
        <button id="setFile">Set</button>
    </div>

    </div>
    <div id="changedPopup">
        <h2>Successfully changed content</h2>
        <a href="menu.html"><button id="setFile">Back</button></a>

    </div>

    </div>